* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
  background-image: url("backrond.webp");
  background-size: cover;
  background-position: center;
  text-align: right;
}

nav .logo {
  font-family: cursive;
  letter-spacing: 3px;
}

/* Navbar */
nav {
  font-family: cursive;
  display: flex;
  background-color: rgb(96, 185, 240);
  justify-content: space-around;
  padding: 8px 0;
  color: azure;
  align-items: center;
}

/*Link navigasi*/
nav ul {
  display: flex;
  list-style: none;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 0.3cm;
  align-items: center;
}

nav ul li a:hover {
  color: blueviolet;
  align-items: center;
}
